/* @import url('https://fontlibrary.org/face/segment7'); */

.display-container {
    display: grid;
    grid-template-columns: 100px 50px 50px 100px 50px;
    text-align: center;
    background: darkgray;
    align-items: baseline;
    justify-content: center;
    height: 30px;
}

.display {
    font-family: 'Segment7Standard', monospace;
    width: auto;
    background: black;
    color: red;
    border: 2px solid darkgray;
}

.face {
    border: 2px solid black;
    width: 30px;
    height: 30px;
}