.minefield {
    display: grid;
    /* box-sizing: border-box; */
    /* grid-gap: 1px; */
    width: auto;
    margin: 0 auto;
}

.mine {
    text-align: center;
    align-self: center;
    width: 25px;
    height: 25px;
    border: 1px solid black;
    box-shadow: 0 0 0 1px black;
    font-size: 1.25rem;
}